<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>drupal console commands</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Drupal Console Commands</a>
            </div>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" id="commands">
                <ul class="nav navbar-nav side-nav namespace-list">
                  <div class="form-group" id="search-input">
                    <input type="text" class="form-control" placeholder="Search" onkeyup="searchCommand(this.value)">
                  </div>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                      <!-- <h1 class="page-header">Drupal Console Commands</h1> -->
                    </div>
                    <div class="col-lg-12 command">
                      <h1 class="page-header">Drupal Console Commands</h1>
                      <div class="container-section">
                        <img src="images/drupal-console-logo.png" alt="Drupal Console Logo" />
                        <p>
                          Welcome to the quick-reference for Drupal Console Commands.
                        </p>
                        <p>
                          This reference includes all the Drupal Console commands for 1.0.0-alpha1.
                        </p>
                        <h3>What is Drupal Console</h3>
                        <p>
                            The new CLI for Drupal. A tool to generate boilerplate code, interact with and debug Drupal.
                        </p>

                        <h3>More info about Drupal Console</h3>
                        <p>
                          Project landing page <a href="http://drupalconsole.com/">http://drupalconsole.com/</a>
                        </p>
                        <p>
                          Project documentation page <a href="http://docs.drupalconsole.com/">http://docs.drupalconsole.com/</a>
                        </p>
                        <p>
                          Project support page <a href="https://gitter.im/hechoendrupal/DrupalConsole">https://gitter.im/hechoendrupal/DrupalConsole</a>
                        </p>

                      </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- build:js scripts/vendor/jquery.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/vendor/twig.js -->
    <script scr="bower_components/twig.js/twig.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/vendor/js-search.js -->
    <script scr="bower_components/js-search/dist/js-search.js"></script>
    <!-- endbuild -->

<script type="text" id="commands_template">
<li>
    <a href="javascript:;" class="collapsed" data-toggle="collapse" data-target="#heading{{namespace}}"> {{namespace}} <i class="fa fa-fw fa-caret-up"></i></a>
    <ul id="heading{{namespace}}" class="collapse">
        {% for command in commands %}
          <li>
              <a href="#" onClick="renderCommand('{{namespace}}','{{command.key}}')">{{command.name}}</a>
          </li>
        {% endfor %}
    </ul>
</li>
</script>

<script type="text" id="command_template">

<h1 class="page-header"><i class="fa fa-file"></i> {{ command.name }}</h1>
<p>{{ command.description }}</p>
<h2>{{ command.messages.usage }}</h2>
<pre>
  <code>
    $ drupal {{ command.name }}{% if command.arguments|length>0 %} [arguments]{% endif %}{% if command.options|length>0 %} [options]{% endif %}
    {% for alias in aliases %}
    $ {{ alias }}
    {% endfor %}
  </code>
</pre>
{% if command.options|length>0 %}
<h2>{{ command.messages.options }}</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        {{ command.messages.option  }}
      </th>
      <th>
        {{ command.messages.details }}
      </th>
    </tr>
  </thead>

  <tbody>
    {% for option in options %}
    <tr>
      <th scope="row">
        {{ option.name }}
      </th>
      <td>
        {{ option.description }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if command.arguments|length>0 %}
<h2>{{ command.messages.arguments }}</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        {{ command.messages.argument  }}
      </th>
      <th>
        {{ command.messages.details }}
      </th>
    </tr>
  </thead>

  <tbody>
    {% for argument in command.arguments %}
    <tr>
      <th scope="row">
        {{ argument.name  }}
      </th>
      <td>
        {{ argument.description }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if command.examples|length>0 %}
<h2>{{ command.messages.examples }}</h2>
{% for example in command.examples %}
<p> {{ example.description }} </p>
<pre>
  <code>
    $ {{ example.execution }}
  </code>
</pre>
{% endfor %}
{% endif %}
</script>

<script type="text/javascript">

var commands;
var searchText;

function loadCommands(language, search) {
  location.hash = '';

  if(!language) {
    language = 'en';
  }

  $.getJSON("languages/"+language+".json", function(data) {
    // var languages = data.application.languages;
    commands = data.commands;
    renderCommands();
  }).fail(function(jqXHR, textStatus, errorThrown) { loadCommands('en'); });
};

function renderCommands() {
  $('#commands > .namespace-list li').remove();
  $.each(commands, function(namespace, commands) {
    result = commands;

    if (searchText) {
      var search = new JsSearch.Search('key');
      search.addIndex('name');
      search.addDocuments(commands);
      var result = search.search(searchText);
    }

    if (result.length > 0) {
      var templateCommands = document.getElementById('commands_template').innerHTML;
      var template = twig({
            data: templateCommands
      });
      commandsRender = template.render({namespace: namespace, commands: result});
      $(commandsRender).appendTo('#commands > .namespace-list');
      if (searchText) {
          $('#commands > .namespace-list li > .collapse').collapse();
      }
    }

  });
}

function searchCommand(commandName){
  searchText = commandName;
  renderCommands();
};

function renderCommand(namespace, commandName){
  var filteredCommands = commands[namespace];
  var search = new JsSearch.Search('key');
  search.addIndex('key');
  search.addDocuments(filteredCommands);
  var command = search.search(commandName)[0];
  if (command) {
    var templateCommand = document.getElementById('command_template').innerHTML;
    var template = twig({
          data: templateCommand
    });
    commandRender = template.render({command:command, options: command.options})
    $('#page-wrapper .container-fluid .row .command').empty();
    $(commandRender).appendTo('#page-wrapper .container-fluid .row .command');
  }
};
</script>

    <script src="scripts/app.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>
